* {
   font-family: 'Roboto' sans-serif;
   font-size: 18px;
   box-sizing: border-box;
}

.contener {
   max-width: 1920px; 
   padding: 0 auto;
}

.header-contener {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 25px;
   background-color: white;
}

ul {
   list-style: none;
}

.header-logo__img {
   max-width: 180px;
   height: auto;
}
.headre-navigation__link {
   font-family: 'Bebas Neue';
   text-transform: uppercase;
   text-decoration: none;
   color: black;
   transition: color 0.3;
}

.headre-navigation__link:hover {
   color:red
}

.header-navigation__iteam {
   display: flex;
   gap: 20px;
}

hr {
   border: 1px solid orangered;
}

.section-contener__header {
   font-family: 'Bebas Neue';
   font-size: 64px;
}
span {
   color: red;
   font-size: 64px;
}

.section-contener__block {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url(/images/Xorazm_viloyati.jpg) center/cover no-repeat;
  text-align: center;
  color: white;
  padding: 80px 20px;
  background-attachment: fixed;
}

.btn-section {
   border: 1px solid white;
   padding: 5px;
   margin: 0px 575px;
   border-radius: 25px;
}
.btn-section:hover {
   color:white;
   background-color: red;
}

.section__about {
   font-size: 24px;
   font-family: 'Bebas Neue';
}

.section__poragrof {
   border: 1px solid #727272;
   border-radius: 15px;
   padding: 25px 25px;
}

.footerNew {
   background-color: black;
   display: flex;
   justify-content: space-between;
}

.footer-navigation__link {
   display: flex;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Bebas Neue';
   transition: color 0.3;
}

.footer-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 25px;
   background-color: black
}